apiVersion: v1
kind: Service
metadata:
  name: backend-service
spec:
  selector:
    app: vote-app-backend
  ports:
  - name: name-of-service-port
    protocol: TCP
    port: 5000
    targetPort: 5000
  type: ClusterIP