apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: vote-app-backend
  name: backend-vote-app-deployment
  namespace: vote-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: vote-app-backend
  template:
    metadata:
      labels:
        app: vote-app-backend
    spec:
      containers:
      - image: kishor95/vote-app-backend:14
        imagePullPolicy: IfNotPresent
        name: backend-vote-app
        ports:
        - containerPort: 5000
          protocol: TCP
        env:
        - name: PORT
          valueFrom:
            configMapKeyRef:
              name: backend-config
              key: PORT
        - name: DB_HOST
          valueFrom:
            configMapKeyRef:
              name: backend-config
              key: DB_HOST
        - name: DB_USER
          valueFrom:
            secretKeyRef:
              name: db-credentials
              key: DB_USER
        - name: DB_PASSWORD
          valueFrom:
            secretKeyRef:
              name: db-credentials
              key: DB_PASSWORD
        - name: DB_NAME
          valueFrom:
            secretKeyRef:
              name: db-credentials
              key: DB_NAME